### Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

### US Public School Datasets for year 2020-21

- [Public school characteristics dataset](https://data-nces.opendata.arcgis.com/datasets/e3cbd4087f144ec5ac3b31094ec84199_0/explore?location=35.265505%2C-96.401190%2C4.84)
- [Public school Retention Dataset](https://civilrightsdata.ed.gov/data)

### Reading CSV'S

In [2]:
#Reading csv's into dataframe

df1 = pd.read_csv('data/Public_School_Characteristics_2020-21.csv')
df2 = pd.read_csv('data/Retention.csv')

### Cleaning df1 (School Characteristic dataset)

In [3]:
#Let's look at first five rows of school characteristics dataset
df1.head(5)

,X,Y,OBJECTID,NCESSCH,SURVYEAR,STABR,LEAID,ST_LEAID,LEA_NAME,SCH_NAME,...,HIALF,HI,TRALM,TRALF,TR,WHALM,WHALF,WH,LATCOD,LONCOD
0,-86.206200,34.2602,1,10000500870,2020-2021,AL,100005,AL-101,Albertville City,Albertville Middle School,...,230.0,469.0,19.0,10.0,29.0,187.0,184.0,371.0,34.2602,-86.206200
1,-86.204900,34.2622,2,10000500871,2020-2021,AL,100005,AL-101,Albertville City,Albertville High School,...,371.0,785.0,17.0,21.0,38.0,368.0,338.0,706.0,34.2622,-86.204900
2,-86.220100,34.2733,3,10000500879,2020-2021,AL,100005,AL-101,Albertville City,Albertville Intermediate School,...,253.0,481.0,17.0,12.0,29.0,177.0,168.0,345.0,34.2733,-86.220100
3,-86.221806,34.2527,4,10000500889,2020-2021,AL,100005,AL-101,Albertville City,Albertville Elementary School,...,237.0,497.0,7.0,8.0,15.0,180.0,160.0,340.0,34.2527,-86.221806
4,-86.193300,34.2898,5,10000501616,2020-2021,AL,100005,AL-101,Albertville City,Albertville Kindergarten and PreK,...,137.0,288.0,6.0,7.0,13.0,108.0,108.0,216.0,34.2898,-86.193300

In [4]:
# Converting NCESSCH columns into string from int
df1['NCESSCH'] = df1['NCESSCH'].astype(str)

In [5]:
# Filling NAN with 0
df1[['PK', 'G13', 'UG']] = df1[['PK', 'G13', 'UG']].fillna(0)

In [6]:
# Removing data for PK(Pre-Kindergarten), UG(Ungraded) and AE(Adult Education) from total enrollment (MEMBER) column
df1['MEMBER'] = df1['MEMBER'] - (df1['PK'] + df1['G13'] + df1['UG'])

In [7]:
# Calculating number of blank values in total enrollment (MEMBER) column
df1['MEMBER'].isna().sum()

2071

In [8]:
# Cleaning rows with NAN value
df1.dropna(subset=['MEMBER'],inplace=True)

In [9]:
# Removing irrelevant columns from df1
df1_cols_to_remove = ['X','Y','OBJECTID','SURVYEAR','STABR','LEAID','ST_LEAID','LEA_NAME','SCH_NAME',
                     'LSTREET1','LSTREET2','LCITY','LSTATE','LZIP','LZIP4','PHONE','GSLO','GSHI',
                      'TITLEI','STATUS','SY_STATUS_TEXT','NMCNTY','FRELCH','REDLCH','PK','G13','UG','AE',
                      'TOTMENROL','TOTFENROL','TOTAL','AM','AS','BL','HP','HI','TR','WH']
df1.drop(columns=df1_cols_to_remove, inplace=True)

In [10]:
df1.shape

(98651, 41)

In [11]:
# Replacing missing and not available codes with NAN values
df1.replace([-1,-2], np.nan, inplace=True)

In [12]:
# Cleaning rows with NAN value
df1.dropna(subset=['STUTERATIO'],inplace=True)

In [13]:
df1.shape

(89965, 41)

### Cleaning df2 (Retention dataset)

In [14]:
#Let's look at first five rows of school characteristics dataset
df2.head(5)

,LEA_STATE,LEA_STATE_NAME,LEAID,LEA_NAME,SCHID,SCH_NAME,COMBOKEY,JJ,SCH_RET_KG_IND,SCH_RET_G01_IND,...,SCH_RET_G12_TR_M,SCH_RET_G12_TR_F,TOT_RET_G12_M,TOT_RET_G12_F,SCH_RET_G12_LEP_M,SCH_RET_G12_LEP_F,SCH_RET_G12_IDEA_M,SCH_RET_G12_IDEA_F,SCH_RET_G12_504_M,SCH_RET_G12_504_F
0,AL,Alabama,100002,Alabama Youth Services,1705,Wallace Sch - Mt Meigs Campus,10000201705,Yes,-9,-9,...,0,0,1,0,0,0,0,0,0,0
1,AL,Alabama,100002,Alabama Youth Services,1706,Mcneel Sch - Vacca Campus,10000201706,Yes,-9,-9,...,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9
2,AL,Alabama,100002,Alabama Youth Services,99995,Autauga Campus,10000299995,Yes,-9,-9,...,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9
3,AL,Alabama,100005,Albertville City,870,Albertville Middle School,10000500870,No,-9,-9,...,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9
4,AL,Alabama,100005,Albertville City,871,Albertville High School,10000500871,No,-9,-9,...,1,0,8,4,2,0,5,3,0,0

In [15]:
# Renaming COMBOKEY column to NCESSCH to merge df1 and df2
df2.rename(columns = {'COMBOKEY':'NCESSCH'}, inplace = True)

In [16]:
# Converting NCESSCH columns into string from int
df2['NCESSCH'] = df2['NCESSCH'].astype(str)

In [17]:
# Removing irrelevant columns from df2
df2_cols_to_remove = ['LEA_STATE','LEAID','LEA_NAME','SCHID','SCH_NAME','JJ','SCH_RET_KG_IND',
                  'SCH_RET_G01_IND','SCH_RET_G02_IND','SCH_RET_G03_IND','SCH_RET_G04_IND',
                  'SCH_RET_G05_IND','SCH_RET_G06_IND','SCH_RET_G07_IND','SCH_RET_G08_IND',
                  'SCH_RET_G09_IND','SCH_RET_G10_IND','SCH_RET_G11_IND','SCH_RET_G12_IND']
df2.drop(columns=df2_cols_to_remove, inplace=True)

In [18]:
df2.shape

(97575, 288)

In [19]:
# Replacing suppressed data values with NAN values
df2.replace([-11], np.nan, inplace=True)

In [20]:
# Cleaning rows with NAN value
df2.dropna(inplace=True)

In [21]:
df2.shape

(95413, 288)

### Merging df1(School Characteristics dataset) and df2(Retention dataset)

In [22]:
# Merging Retention dataset and public school characteristics dataset on NCESSCH 
merged_df = pd.merge(df1, df2, on=['NCESSCH'], how='inner')
merged_df.shape

(85233, 328)

In [23]:
# Replacing Not applicable values with Nan values
merged_df.replace([-9], np.nan, inplace=True)

In [24]:
# Getting all retention columns
ret_cols = merged_df.filter(like = 'SCH_RET_')
ret_cols

,SCH_RET_KG_HI_M,SCH_RET_KG_HI_F,SCH_RET_KG_AM_M,SCH_RET_KG_AM_F,SCH_RET_KG_AS_M,SCH_RET_KG_AS_F,SCH_RET_KG_HP_M,SCH_RET_KG_HP_F,SCH_RET_KG_BL_M,SCH_RET_KG_BL_F,...,SCH_RET_G12_WH_M,SCH_RET_G12_WH_F,SCH_RET_G12_TR_M,SCH_RET_G12_TR_F,SCH_RET_G12_LEP_M,SCH_RET_G12_LEP_F,SCH_RET_G12_IDEA_M,SCH_RET_G12_IDEA_F,SCH_RET_G12_504_M,SCH_RET_G12_504_F
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,3.0,1.0,0.0,2.0,0.0,5.0,3.0,0.0,0.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11.0,12.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85228,4.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85229,5.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85231,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85232,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0

In [25]:
# Cleaning rows with NAN value
merged_df.dropna(subset=ret_cols.columns,how='all',inplace=True)

In [26]:
merged_df.shape

(49604, 328)

In [27]:
# Getting the number of rows with 0 enrollment
merged_df[merged_df['MEMBER'] == 0].shape

(35, 328)

In [28]:
# Removing rows with 0 enrollment value
df_cleaned = merged_df[merged_df['MEMBER'] != 0]

In [29]:
# Renaming Columns in cleaned dataframe
df_cleaned.rename(columns = {'NCESSCH': 'NCES_SCH_ID',
                             'CHARTER_TEXT':'CHARTER',
                             'MAGNET_TEXT': 'MAGNET',
                             'SCHOOL_TYPE_TEXT': 'SCHOOL_TYPE',
                             'ULOCALE': 'LOCAL_CODE',
                             'TOTFRL': 'TOT_FREE_LUNCH',
                             'MEMBER': 'TOT_ENROLL',
                             'FTE': 'TOT_TEACHERS',
                             'STUTERATIO': 'STU_TEA_RATIO'                           
                            }, inplace = True)

In [30]:
#Formatting Datatype for string columns
non_num_cols = ['CHARTER','MAGNET','VIRTUAL','SCHOOL_LEVEL',
               'STITLEI','SCHOOL_TYPE','LOCAL_CODE','LEA_STATE_NAME']
df_cleaned[non_num_cols] = df_cleaned[non_num_cols].astype(str)

In [31]:
# Use regex to extract the part after "-" and before ':' 
df_cleaned['LOCAL_CATEGORY'] = df_cleaned['LOCAL_CODE'].str.extract(r'-(.*?):') # keep the part within ()

In [32]:
# Removing LOCAL_CODE as we already got category
df_cleaned.drop(columns=['LOCAL_CODE'], inplace=True)

In [33]:
# Filtering only Elementary, Middle and High school data
cat_to_keep = ['Elementary','Middle','High']
df_cleaned = df_cleaned[df_cleaned['SCHOOL_LEVEL'].isin(cat_to_keep)]

In [34]:
df_cleaned

,NCES_SCH_ID,CHARTER,MAGNET,VIRTUAL,SCHOOL_LEVEL,STITLEI,SCHOOL_TYPE,TOT_FREE_LUNCH,KG,G01,...,SCH_RET_G12_TR_F,TOT_RET_G12_M,TOT_RET_G12_F,SCH_RET_G12_LEP_M,SCH_RET_G12_LEP_F,SCH_RET_G12_IDEA_M,SCH_RET_G12_IDEA_F,SCH_RET_G12_504_M,SCH_RET_G12_504_F,LOCAL_CATEGORY
0,10000500870,No,No,Not Virtual,Middle,1-Yes,Regular school,332.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Town
1,10000500871,No,No,Not Virtual,High,1-Yes,Regular school,456.0,NaN,NaN,...,0.0,8.0,4.0,2.0,0.0,5.0,3.0,0.0,0.0,Town
3,10000500889,No,No,Not Virtual,Elementary,1-Yes,Regular school,397.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Town
4,10000501616,No,No,Not Virtual,Elementary,1-Yes,Regular school,181.0,443.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Town
5,10000502150,No,No,Not Virtual,Elementary,1-Yes,Regular school,422.0,NaN,480.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Town
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85228,720003002078,No,No,Not Virtual,Elementary,1-Yes,Regular school,145.0,25.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Suburb
85229,720003002079,No,No,Not Virtual,Elementary,1-Yes,Regular school,301.0,46.0,51.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Suburb
85230,720003002082,No,No,Not Virtual,Middle,1-Yes,Regular school,246.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Suburb
85231,720003002084,No,No,Not Virtual,Elementary,1-Yes,Regular school,104.0,11.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,City
85232,720003002085,No,No,Not Virtual,High,1-Yes,Regular school,465.0,NaN,NaN,...,0.0,9.0,7.0,0.0,0.0,3.0,0.0,0.0,0.0,Suburb

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=edfebf59-8cf0-4b7e-b1cf-d80b21ef0191' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>